body
{
	border : 1px solid black;
	background-image:url('https://img.freepik.com/free-photo/ai-robot-frame-technology-abstract-futuristic-tech-design-with-blank-space_53876-129790.jpg?size=626&ext=jpg');
	background-size:cover;
	
}
h1
{
	text-align : center;
	color : white;
}
#input
{
	padding : 10px 25px;
}
#container
{
	width : 500px;
	height : 500px;
	text-align : center;
	margin : auto;
	color : white;
}
